<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ee_001</key>
	<string>[):]</string>
	<key>ee_002</key>
	<string>[:D]</string>
	<key>ee_003</key>
	<string>[;)]</string>
	<key>ee_004</key>
	<string>[:-o]</string>
	<key>ee_005</key>
	<string>[:p]</string>
	<key>ee_006</key>
	<string>[(H)]</string>
	<key>ee_007</key>
	<string>[:@]</string>
	<key>ee_008</key>
	<string>[:s]</string>
	<key>ee_009</key>
	<string>[:$]</string>
	<key>ee_010</key>
	<string>[:(]</string>
	<key>ee_011</key>
	<string>[:&apos;(]</string>
	<key>ee_012</key>
	<string>[:|]</string>
	<key>ee_013</key>
	<string>[(a)]</string>
	<key>ee_014</key>
	<string>[8o|]</string>
	<key>ee_015</key>
	<string>[8-|]</string>
	<key>ee_016</key>
	<string>[+o(]</string>
	<key>ee_017</key>
	<string>[&lt;o)]</string>
	<key>ee_018</key>
	<string>[|-)]</string>
	<key>ee_019</key>
	<string>[*-)]</string>
	<key>ee_020</key>
	<string>[:-#]</string>
	<key>ee_021</key>
	<string>[:-*]</string>
	<key>ee_022</key>
	<string>[^o)]</string>
	<key>ee_023</key>
	<string>[8-)]</string>
	<key>ee_024</key>
	<string>[(|)]</string>
	<key>ee_025</key>
	<string>[(u)]</string>
	<key>ee_026</key>
	<string>[(S)]</string>
	<key>ee_027</key>
	<string>[(*)]</string>
	<key>ee_028</key>
	<string>[(#)]</string>
	<key>ee_029</key>
	<string>[(R)]</string>
	<key>ee_030</key>
	<string>[({)]</string>
	<key>ee_031</key>
	<string>[(})]</string>
	<key>ee_032</key>
	<string>[(k)]</string>
	<key>ee_033</key>
	<string>[(F)]</string>
	<key>ee_034</key>
	<string>[(W)]</string>
	<key>ee_035</key>
	<string>[(D)]</string>
</dict>
</plist>
